<h1>{{title}}</h1>
<h2>{{author.name}}</h2>
<p>Articles by {{author.name}}</p>

<ul>
    {{#each articles}}
        <li>
            <a href="/article/{{slug}}">{{name}}</a> - {{published_date}}
        </li>
    {{else}}
        <p>No articles found for this author.</p>
    {{/each}}
</ul>
